@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Quicksand:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 22px;
    color: whitesmoke;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/background.jpeg);
}

nav {
    display: flex;
    background-color: #333;
    height: 80px;
    align-items: center;
}

nav img {
    width: 60px;
    margin: 0 10px
}

nav .save-panda {
    margin-right: auto;
    color: whitesmoke;
    font-weight: bolder;
}

nav a {
    color: whitesmoke;
    margin-right: 25px;
    background-color: #333;
    padding: 10px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: gold;
    transition: all 200ms ease-in;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

h1 {
    text-align: center;
    font-family: fantasy;
}

#image {
    display: block;
    margin: 0 auto;
    width: 400px;
    border: solid #333 1px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.facts {
    text-align: center;
    width: 700px;
    border: solid #333 2px;
    border-radius: 15px;
    padding: 20px;
    margin: 50px auto;
    color: white;
}

.facts-h2 {
    text-align: center;
    margin: 0 20px 10px;
    color: whitesmoke;
}

.facts :hover {
    background-color: #333;
    transition: all 200ms ease-in;
}

.facts-h2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
}

footer {
    bottom: 0;
    background-color: #445e7f;
    color: wheat;
    width: 100%;
    text-align: center;
    font-size: 17px;
}