@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Quicksand:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/background.jpeg);
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    color: whitesmoke;
}

#image {
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 10px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
}

.nav-item {
    display: inline;
    padding: 20px 30px;
    margin: 0 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: #333;
}

.nav-item a {
    color: white;
}

a {
    text-decoration: none;
}

.nav-list :hover {
    background-color: gold;
    transition: all 200ms ease-in;
}

.facts {
    text-align: center;
    width: 700px;
    border: solid #333 2px;
    border-radius: 15px;
    padding: 20px;
    margin: 40px auto;
    color: white;
}

.facts-h2 {
    text-align: center;
    margin: 0 20px 10px;
    color: whitesmoke;
}

.facts :hover {
    background-color: #333;
    transition: all 200ms ease-in;
}

.facts-h2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
}